@model IEnumerable<BookStore.Models.PDF>

@{
    ViewBag.Title = "PdfViewers";
    Layout = "~/Views/Shared/_NoHero.cshtml";
}

<div class="breadcrumbs">
    <div class="container">
        <h2>Sách PDFs</h2>
    </div>
</div><!-- End Breadcrumbs -->
<!-- ======= Courses Section ======= -->
<section id="courses" class="courses">
    <div class="container" data-aos="fade-up">
        <div class="row" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-12">

                <table class="display table-bordered table-responsive" id="Pdfs">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Publisher)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Area)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FileUrl)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UploadedDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Publisher)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Area)
                                </td>
                                <td>
                                    <a href="@item.FileUrl" target="_blank">Xem sách</a>
                                    @*@Html.DisplayFor(modelItem => item.FileUrl)*@
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UploadedDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                               
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</section>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#Pdfs').DataTable({ autoWidth: false });
        });</script>
}
