@model IEnumerable<BookStore.Models.PDF>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section header{
    <span>Danh sách file PDF</span>
}

<p>
    @Html.ActionLink("Tải file", "Create")
</p>
<table class="display table-bordered table-responsive" id="Pdfs">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UploadedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publisher)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Area)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FileUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UploadedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.Id })
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.Id })
                    @Html.ActionLink("Xóa", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>$(document).ready(function () {
            $('#Pdfs').DataTable({ autoWidth: false });
        });</script>
}