@model BookStore.Models.Order

@{
    ViewBag.Title = "ProcessOrder";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section header{
    <span>Xử lý đơn hàng</span>    
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Xử lý đơn hàng</h4>
    <hr />
    <div class="form-group">
        <label class="control-label">Số hóa đơn:</label>
        <div class="col-md-10">
            @*@Html.DropDownList("OrderId", null, htmlAttributes: new { @class = "form-control" })*@

            <input type="text" class="form-control" name="OrderId" id="OrderId" value="@Model.Id" readonly />

            @*@Html.ValidationMessageFor(model => model.OrderId, "", new { @class = "text-danger" })*@
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.OrderedDate, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.OrderedDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.OrderedDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DeliveryType, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.DeliveryType, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DeliveryType, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            <select name="note" id="note" class="form-control">
                <option value="1">Chờ xác nhận</option>
                <option value="2">Đang giao</option>
                <option value="3">Đã giao</option>
                <option value="4">Đã hủy</option>
                <option value="5">Trả hàng</option>
            </select>
            @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
        </div>
    </div>

    
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Xử lý" class="btn btn-primary" />
        </div>
    </div>
    <br />
</div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section scripts{
    <script>

        //$(document).ready(function () {
        //    document.getElementById("ProcessedDate").valueAsDate = new Date();
        //});

    </script>
}